:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: fit-content;
  background: #D3E1FA;
  background: linear-gradient(180deg,rgb(185, 201, 229) 0%, rgba(211, 225, 250, 1) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.app-wrapper {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-bar {
  height: 120px;
  width: 100vw;
  background: #DEE8FEFF;
  background: linear-gradient(180deg,rgba(222, 232, 254, 1) 0%, rgb(200, 208, 232) 100%);
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-content {
  display: flex;
}

.header-content h1 {
  margin: 0px 20px;
  margin-bottom: -30px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeuo-image-wrapper {
  position: relative;
  background: #DEE8FEFF;
  background: linear-gradient(180deg,rgb(163, 175, 210) 0%, rgba(222, 232, 254, 1) 100%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10px;
  box-shadow: 19px 15px 33px -6px rgba(5,26,100,0.65);
}

.skeuo-reflection {
  position: absolute;
  border-radius: 100%;
  top: 0px;
  z-index: 5px;
  box-shadow: -23px -22px 32px -6px rgba(255,255,255,0.65);
}

.skeuo-text {
  line-height: 1.5;
  color: transparent;
  background: #6282acff;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  user-select: none;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease;
}

.content-wrapper {
  width: 100vw;
}

.skeuo-content {
  position: relative;
  padding: 20px;
  margin: 50px 0px 0px 0px;
  width: 600px;
  backdrop-filter: blur(4px);
  filter: url(#lensFilter) saturate(120%) brightness(1.1);
  border-radius: 15px;
  z-index: 15;
}

.skeuo-content::after {
  content: "";
  inset: 5px; 
  position: absolute;
  filter:blur(20px);
  background: linear-gradient(180deg,rgba(141, 152, 183, 0.75) 0%, rgb(198, 208, 233, 0.75) 100%);
  border-radius: inherit;
  z-index: 10;
}

.skeuo-content > * {
  position: relative;
  z-index: 20;
}

.skeuo-content h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.skeuo-content h3 {
  margin-bottom: 0px;
}

.skeuo-content p {
  margin-top: 0px;
}

.skeuo-content code {
  background: rgb(47, 51, 62);
  border-radius: 7px;
  padding: 2px 7px;
  color: #b6fb70;
  text-shadow: 0px 0px 5px #b6fb70;
}

.skeuo-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 50px 0px 0px 0px;
  width: 600px;
  background: linear-gradient(180deg,rgba(222, 232, 254, 1) 0%, rgb(200, 208, 232) 100%);
  border-radius: 15px;
  z-index: 15;
  justify-content: center;
}

.skeuo-menu > * {
  position: relative;
  margin: 10px;
  z-index: 20;
}

.skeuo-menu h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.skeuo-menu h3 {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 2em;
}

.skeuo-menu p {
  margin-top: 0px;
}

.skeuo-menu code {
  background: rgb(47, 51, 62);
  border-radius: 7px;
  padding: 2px 7px;
  color: #b6fb70;
  text-shadow: 0px 0px 5px #b6fb70;
}

.skeuo-button {
  position:relative;
  padding:0;
  width:fit-content;
  height:80px;
  border:4px solid #a4adc5;
  outline:none;
  background-color:#dce6fc;
  border-radius: 40px;
  box-shadow:  -6px -20px 35px #d0dded43, -6px -10px 15px #ffffff33, -20px 0px 30px #cad5e24a, 6px 20px 25px rgba(0,0,0,0.2);
  transition: .13s ease-in-out;
  cursor:pointer;
  &:active{
    box-shadow:none;
    .skeuo-button-content{
      box-shadow: none;
      .skeuo-button-text {
        transform:translate3d(0px, 0px, 0px);
      }
    }
  }
}
  .skeuo-button-content{
    position:relative;
    display:grid;
    padding:20px;
    width:fit-content;
    height:30px;
    user-select: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    box-shadow:inset 0px -8px 0px #c7d0e3, 0px -8px 0px #e8efff;
    border-radius: 40px;
    transition: .13s ease-in-out; 
    z-index:1;
  }

  .skeuo-button-text{
      position:relative;
      transform:translate3d(0px, -4px, 0px);
      margin:0;
      align-self:end;
      grid-column:1/5;
      grid-row:2;
      text-align:center;
      font-size: 32px;
      background-color: #8e9cac;
      color: transparent;
      user-select: none;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      transition: .13s ease-in-out; 
  }

  .skeuo-button-svg {
    position: absolute;
    top: 17px;
    left: 22px;
  }

  .skeuo-button-svg path {
    width: auto;
    height: auto;
    fill: #8e9cac;
    filter: drop-shadow(2px 2px 3px rgba(255,255,255,0.5));
  }

.spacer {
  position: relative;
  width: 90vw;
  height: 120px;
}

.spacer-footer {
  position: relative;
  width: 100vh;
  height: 240px;
}

.resume-container {
  display: flex;
}

.resume-header {
  margin-top: 0px;
}

.resume-header-secondary {
  margin: 2px 10px;
}

.resume-secondary {
  margin: 0px 10px;
}

.absolute-viewer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  transition: top 0.5s ease;
}

.absolute-viewer-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .skeuo-content {
    width: 80vw;
  }

  .skeuo-menu {
    width: 80vw;
  }
}